@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

div{
    
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-image: url('images/bg.jpg');
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* color: rgb(0, 0, 0, 0); */
}

#logotop{
    width: 35vh;
    height: 17vh;
}

nav{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -50px;
}

nav ul{
    display: inline-block;
}

button{
    margin-right: 10vh;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 4vh;
}

.menu li{
    flex: 1;
    font-size: 15px;
    width: 60%;
    padding: 8px 5px;
}

@media (max-width: 800px) {
    .menu li{
      flex: 100%;
    }
  }

.menu li a{
    margin: 50px;
    color: white;
    text-decoration: none;
    transition: all 0.4s ease-in 0s;
    padding: 2px;
}

.menu li a:hover{

    color: #f22613;

}

button{
    margin-right: 10vh; 
    padding: 1vh;
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    transition: all 0.4s ease-in 0s;
}

button:hover{
    background-color: #f22613;
}

button a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: all 0.4s ease-in 0s;
}

button a:hover{
    color: white;
}

h1{
    color: rgba(250,250,250,0%); 
    position: relative;
    top: 10%;
    text-align: center;
    transition: all 1s ease-in 1s;
    animation-name: welcome;
    animation-duration: 3s;
    animation-delay: 1s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

}

@keyframes welcome{
    0% {color: rgba(250,250,250, 0%);}
    100% {color: rgba(250,250,250,100%);}
}

#frame{
    height: 60vh;
    width: 60vh;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 3%;
    opacity: 0;
    transition:ease-in 1s ease-in 1s;
    animation: frame 18s linear 1s infinite normal;
    animation-fill-mode: forwards;
}

@keyframes frame{
    0%{transform: rotate(0deg); opacity: 0;}
    17%{transform: rotate(60deg);  opacity: 0.1;}
    33%{transform: rotate(120deg);  opacity: 0;}
    50%{transform: rotate(180deg);  opacity: 0.2;}
    67%{transform: rotate(240deg);  opacity: 0;}
    84%{transform: rotate(300deg);  opacity: 0.1;}
    100%{transform: rotate(360deg); opacity: 0 ;}
}
